.nav-link, .dropdown-item {
    cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #D8D8D8 !important;
}

.navbar-brand img {
    width: 20% !important;
}

.dropdown-menu {
    padding: 0px !important;
    min-width: 8rem !important;
}

.navbar {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}